#include <windows.h>
#include "res.h"

IDI_APPICON ICON "putty.ico"
IDI_UPDICON ICON "upd.ico"

/* Application manifest */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

/* Executable version information */
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        0,2,0,0
PRODUCTVERSION     0,2,0,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        VS_FF_DEBUG | VS_FF_PRERELEASE
#else
  FILEFLAGS        0
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "aromprg@github.com"
      VALUE "FileDescription", APPNAME
      VALUE "FileVersion", "0.2.0.0"
      VALUE "InternalName", EXENAME
      VALUE "LegalCopyright", "\xA92025 aromprg@github.com"
      VALUE "OriginalFilename", EXENAME
      VALUE "ProductName", APPNAME
      VALUE "ProductVersion", "0.2.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END

IDD_MAIN DIALOG 0, 0, 130, 120
CAPTION APPNAME
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "MS Shell Dlg"
{
    LTEXT "Port", -1, 5, 7, 30, 10
    COMBOBOX IDC_PORT_CBX, 35, 5, 60, 100, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "", IDC_UPD_BTN, 100, 4, 25, 15, BS_ICON
    AUTOCHECKBOX "Try Port", IDC_TRY_CHB, 100, 21, 27, 17, BS_MULTILINE | WS_TABSTOP
    LTEXT "Speed", -1, 5, 22, 30, 10
    COMBOBOX IDC_BAUD_CBX, 35, 20, 60, 100, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT "Data bits", -1, 5, 37, 30, 10
    COMBOBOX IDC_DBIT_CBX, 35, 35, 60, 100, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Stop bits", -1, 5, 52, 30, 10
    COMBOBOX IDC_SBIT_CBX, 35, 50, 60, 100, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Parity", -1, 5, 67, 30, 10
    COMBOBOX IDC_PARITY_CBX, 35, 65, 60, 100, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Flow ctrl", -1, 5, 82, 30, 10
    COMBOBOX IDC_FLOW_CBX, 35, 80, 60, 100, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "PuTTY serial", IDC_SPUTTY_BTN, 5, 97, 55, 15
    PUSHBUTTON "PuTTY", IDC_PUTTY_BTN, 70, 97, 55, 15
}
